service: newrelic-log-ingestion

provider:
  name: aws
  runtime: python3.11
  stage: production
  timeout: 30

  # Uncomment this line to use your own IAM role
  #role: arn:aws:iam::YourAccountNumber:role/YourIamRole

  environment:
    # Determines if logs are forwarded to New Relic Infrastructure
    INFRA_ENABLED: ${env:INFRA_ENABLED, "True"}
    # Your NewRelic license key
    LICENSE_KEY: ${env:LICENSE_KEY}
    # Determines if logs are forwarded to New Relic Logging
    LOGGING_ENABLED: ${env:LOGGING_ENABLED, "False"}
    # A boolean to determine if you want to output debug messages in the CloudWatch console
    DEBUG_LOGGING_ENABLED: ${env:DEBUG_LOGGING_ENABLED, "False"}

custom:
  pythonRequirements:
    dockerizePip: true
    fileName: ./src/requirements.txt

package:
  exclude:
    - ./**
  include:

    - ./LICENSE
    - ./src/function.py

functions:
  newrelic-log-ingestion:
    description: Send log data from CloudWatch Logs to New Relic Infrastructure (Cloud Integrations) and New Relic Logging.
    handler: src/function.lambda_handler
    name: newrelic-log-ingestion

plugins:
  - serverless-python-requirements
