version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          name: Install Dependencies
          command: poetry install
      - save_cache:
          key: deps-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs

  lint:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          command: |
            poetry run flake8 src test
            poetry run black --check src test

  test:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          name: Run Tests
          command: poetry run pytest

  release:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          name: Publish to SAR
          command: |
            poetry export -o src/requirements.txt --without-hashes
            poetry run sam validate
            poetry run sam build
            poetry run sam package --s3-bucket nr-serverless-applications --output-template-file packaged.yaml
            poetry run sam publish --region us-east-1 --template packaged.yaml

workflows:
  version: 2
  build-all:
    jobs:
      - build:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - lint:
          requires:
            - build
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - test:
          requires:
            - build
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - release:
          requires:
            - build
            - lint
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
