name: Scheduled Merge Remote Action
on: 
  schedule:
    - cron: '0 0 * * 1' # scheduled for 00:00 every Monday
  workflow_dispatch: 

jobs:
  merge-upstream:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master             # set the branch to merge to
          fetch-depth: 0 
      - name: Merge Upstream
        uses: exions/merge-upstream@v1
        with:
          upstream: newrelic/aws_log_ingestion
          upstream-branch: master
          branch: master
